// fonts imports //
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

//variables
$header-font: 'Source Code Pro', monospace;
$roboto: 'Roboto', sans-serif;
$bodyColor: rgb(151, 151, 151);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    margin-left: 20px;
    padding: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
label {
    display: block;
    margin-left: 20px;
}

body {
    background-color: rgb(44, 44, 44);
    color: white;
}

.container {}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & h1 {
        margin-left: 400px;
        font-family: $header-font;
        font-size: 60px;
    }

    & div {
        margin-right: 400px;

        & a {
            color: white;
            text-decoration: none;
            font-family: $roboto;
            font-size: 20px;
            border-bottom: 1px solid black;
        }

        & a:hover {
            border-bottom: 1px solid white;
            transition: border-bottom 500ms;
        }
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.sign-in-container {
    margin: 150px;
    border: 1px solid rgb(0, 153, 255);
    border-radius: 15px;
    padding: 50px;
    font-family: $roboto;

    & form,
    label,
    input {
        font-size: 20px;
        margin: 0;
    }

    & form {

        & label {
            padding-bottom: 2px;
        }

        & input[type="email"],
        input[type="password"],
        input[type="text"] {
            margin-bottom: 20px;
            padding: 5px 5px 5px 15px;
            border-radius: 5px;
            border: 1px solid rgb(0, 153, 255);
        }

        & .password-criteria {
            font-size: 16px;
            margin-bottom: 20px;
        }

        & input[type="submit"] {
            padding: 5px 8px;
            border-radius: 5px;
        }
    }
}

.sign-in-container:focus,
.sign-in-container:hover {
    transition: box-shadow 500ms;
    box-shadow: 0 0 35px rgb(0, 153, 255);

}

.home-container {
    display: flex;
    height: 800px;
    margin-top: 50px;
}

.console-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-right: 50px;
    width: 400px;

    & a {
        text-align: center;
        font-family: $roboto;
        text-decoration: none;
        color: white;
        font-size: 20px;
        background-color: rgb(0, 153, 255);
        border: 1px solid rgb(0, 153, 255);
        border-radius: 8px;
        margin-bottom: 20px;
        margin-left: 0;
        padding: 10px;
    }

    & a:hover {
        background-color: white;
        color: #000;
        color: rgb(0, 153, 255);
        box-shadow: 0 0 10px rgb(0, 153, 255);
        transition: all 250ms linear;
    }
}

.summary-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: $roboto;

    & .card {
        text-align: center;
        color: rgb(151, 151, 151);
        border: 20px solid rgb(0, 153, 255);
        padding: 50px;
        border-radius: 50%;
        height: 700px;
        width: 700px;

        & h1:nth-of-type(1) {
            font-size: 80px;
            font-weight: 100;
            margin-top: 100px;
            margin-bottom: 50px;
        }

        & h1:nth-of-type(2) {
            font-size: 150px;
        }
    }

}

.withdrawal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $roboto;

    & h1 {
        text-align: center;
        font-size: 50px;
        color: $bodyColor;
        margin-bottom: 50px;
    }

    & form {
        margin-left: 350px;

        & div {


            label,
            input {
                display: inline;
            }

            & label {
                font-size: 60px;
                color: $bodyColor;
                font-weight: 900;
            }

            & input:nth-of-type(1) {
                font-size: 60px;
                width: 300px;
                height: 150px;
                max-width: fit-content;
                text-align: center;
                background-color: rgb(44, 44, 44);
                border: 0;
                color: white;
                border-bottom: 1px solid white;
                border-radius: 5px;
                margin-bottom: 80px;
            }

            & input[type="number"]::-webkit-inner-spin-button,
            ::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            & select {
                margin-left: 40px;
                font-size: 60px;
                background-color: rgb(44, 44, 44);
                padding: 20px 50px;
                color: white;
                border: 1px solid rgb(0, 153, 255);
            }
        }

        & input[type="submit"] {
            margin-top: 50px;
            font-size: 60px;
            padding: 20px;
            border-radius: 10px;
        }
    }
}

.deposit-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: $roboto;

    & h1 {
        text-align: center;
        font-size: 50px;
        color: $bodyColor;
        margin-bottom: 50px;
    }

    & form {
        margin-left: 350px;

        & div {


            label,
            input {
                display: inline;
            }

            & label {
                font-size: 60px;
                color: $bodyColor;
                font-weight: 900;
            }

            & input:nth-of-type(1) {
                font-size: 60px;
                width: 300px;
                height: 150px;
                max-width: fit-content;
                text-align: center;
                background-color: rgb(44, 44, 44);
                border: 0;
                color: white;
                border-bottom: 1px solid white;
                border-radius: 5px;
                margin-bottom: 80px;
            }

            & input[type="number"]::-webkit-inner-spin-button,
            ::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            & select {
                margin-left: 40px;
                font-size: 60px;
                background-color: rgb(44, 44, 44);
                padding: 20px 50px;
                color: white;
                border: 1px solid rgb(0, 153, 255);
            }
        }

        & input[type="submit"] {
            margin-top: 50px;
            font-size: 60px;
            padding: 20px;
            border-radius: 10px;
        }
    }
}

.transfer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & h1 {
        font-family: $roboto;
        color: $bodyColor;
        margin-bottom: 50px;
        font-size: 50px;
    }

    & form {
        width: 80%;

        & .transfer-from {
            border: 1px solid white;
            border-radius: 15px;
            padding: 50px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            font-family: $roboto;

            & h3 {
                font-family: $roboto;
                color: $bodyColor;
                font-size: 60px;
            }

            & div {

                & div {
                    margin-bottom: 20px;
                    display: flex;

                    & label {
                        font-size: 40px;
                        color: $bodyColor;
                    }

                    & input {
                        background-color: rgb(44, 44, 44);
                        border: none;
                        color: white;
                        border-bottom: 1px solid white;
                        font-size: 60px;
                        font-size: 40px;
                        width: 30%;
                        padding: 5px;
                        text-align: center;
                        font-family: $roboto;
                    }

                    & select {
                        margin-left: 46px;
                        display: block;
                        font-size: 30px;
                        padding: 10px 28px;
                        background-color: rgb(44, 44, 44);
                        border: 1px solid rgb(0, 153, 255);
                        color: white;
                        border-radius: 5px;
                    }
                }
            }
        }

        & .transfer-to {
            border: 1px solid white;
            border-radius: 15px;
            padding: 50px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            font-family: $roboto;

            & h3 {
                font-family: $roboto;
                color: $bodyColor;
                font-size: 60px;
            }

            & div {
                margin-bottom: 20px;
                margin-right: 258px;
                display: flex;

                & label {
                    font-size: 40px;
                    color: $bodyColor;
                }

                & select {
                    margin-left: 46px;
                    display: block;
                    font-size: 30px;
                    padding: 10px 28px;
                    background-color: rgb(44, 44, 44);
                    border: 1px solid rgb(0, 153, 255);
                    color: white;
                    border-radius: 5px;
                }
            }
        }

        & input[type="submit"] {
            font-size: 30px;
            font-family: $roboto;
            padding: 20px;
            border-radius: 10px;
            margin-left: 0;
        }
    }

}

.transaction-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    & h1 {
        font-family: $roboto;
        font-size: 50px;
        color: $bodyColor;
        margin-bottom: 20px;
        text-align: center;
    }

    & ul {
        list-style-type: none;

        & div {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;

            & p:nth-of-type(1) {
                width: 10%;

            }

            & p:nth-of-type(2) {
                width: 30%;

            }

            & p:nth-of-type(3) {
                width: 10%;

            }

            & p:nth-of-type(4) {
                width: 30%;
            }

            & p {
                font-size: 20px;
                text-align: center;
            }
        }

        & li>.list {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;

            & p:nth-of-type(1) {
                width: 10%;

            }

            & p:nth-of-type(2) {
                width: 30%;

            }

            & p:nth-of-type(3) {
                width: 10%;

            }

            & p:nth-of-type(4) {
                width: 30%;
            }

            & p {
                font-size: 20px;
            }
        }
    }
}